asgiref==3.7.2
astroid==2.15.2
colorama==0.4.6
dill==0.3.6
Django==4.2.3
django-ckeditor==6.6.1
django-ckeditor-5==0.2.9
django-js-asset==2.1.0
et-xmlfile==1.1.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
openpyxl==3.0.10
Pillow==9.5.0
platformdirs==3.2.0
pylint==2.17.2
pytz==2022.6
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.11.7
typing_extensions==4.5.0
tzdata==2023.3
whitenoise==6.5.0
wrapt==1.15.0
