{% extends 'core/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div style="padding: 40px;">
        <h1 style="font-size: 24px;">CONTACT US</h1>
        <br>
        <p>If you have any questions, feedback, or inquiries, feel free to get in touch with us!</p>
        <br>
        <h2 style="font-size: 20px;"><u>Contact Information:</u></h2>
        <ul style="list-style: none; padding-left: 0;">
            <li><strong>Email:</strong> <a href="mailto:info@puddlemarketplace.com" style="color: red;">info@puddlemarketplace.com</a></li>
            <li><strong>Phone:</strong> <span style="color: red;">+123-456-7890</span></li>
        </ul>
        <br>
        <br>
        <h2 style="font-size: 20px;"><u>Social Media:</u></h2>
        <p>Connect with us on social media for the latest updates and news:</p>
        <ul style="list-style: none; padding-left: 0;">
            <li><strong>Facebook:</strong> <a href="https://www.facebook.com/puddlemarketplace" style="color: red;">facebook.com/puddlemarketplace</a></li>
            <li><strong>Twitter:</strong> <a href="https://twitter.com/puddlemarket" style="color: red;">twitter.com/puddlemarket</a></li>
            <li><strong>Instagram:</strong> <a href="https://www.instagram.com/puddlemarketplace/" style="color: red;">instagram.com/puddlemarketplace</a></li>
        </ul>
        <br>
        <br>
        <h2 style="font-size: 20px;"><u>Physical Address:</u></h2>
        <p style="margin-bottom: 0;"><strong>Visit our office at:</strong></p>
        <address style="font-style: normal; margin-top: 0;">
            123 Puddle Street,<br>
            Nairobi, Kenya.<br>
            Postal Code: 00100
        </address>
        <br>
        <br>
        <h2 style="font-size: 20px;"><u>Customer Support:</u></h2>
        <p style="margin-bottom: 0;"><strong>For any support-related issues, please email us at:</strong></p>
        <p><a href="mailto:support@puddlemarketplace.com" style="color: red;">support@puddlemarketplace.com</a></p>
    </div>
{% endblock %}
