{% extends 'core/base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}

<!-- Advertisement div -->
<!-- Advertisement div -->
<div class="mb-6">
    <h2 class="text-center mb-4">Advertisements</h2>
    <div class="advertisement-container">
        {% for item in items %}
            <a href="#">
                <img src="{{ item.image.url }}" class="advertisement-image" alt="Advertisement Image">
            </a>
        {% endfor %}
    </div>
</div>
<!-- End of Advertisement div -->

<style>
    .advertisement-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px; /* Adjust the container height as needed */
        animation: fade 6s infinite;
    }

    .advertisement-image {
        display: none;
        width: 200px; /* Adjust the width of the images as needed */
        height: auto; /* Adjust the height of the images as needed */
    }

    @keyframes fade {
        0%, 100% {
            opacity: 0;
        }
        20%, 80% {
            opacity: 1;
        }
    }
</style>


<br>
<br>


<!-- End of Advertisement div -->


    <div class="mt-6 px-4 py-8 bg-gray-300 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Newest Items</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'items:detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-blue-600 text-1xl no-underline hover:underline hover:text-red-500">{{ item.name }}</h2>
                            <p class="text-gray-500"><b>Price: ${{ item.price }}</b></p>
                        </div>
                    </a>

                </div>
            {% endfor %}

        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-300 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-5 gap-3">
            {% for category in categories %}
                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-1xl">{{ category.name }}</h2>
                            <p class="text-gray-500">{{ category.items.count }} items</p>
                        </div>
                    </a>

                </div>
            {% endfor %}
        </div>
    </div>  

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

{% endblock %}
