<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading | Puddle Marketplace</title>
</head>
<body>
    <div class="w-full sm:w-2/3 md:w-1/2 lg:w-1/3 my-6 mx-auto p-6 bg-gray-100 rounded-3xl">
        <a href="/" class="text-base md:text-xl lg:text-2xl font-semibold flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24">
              <path fill="red" d="M16.146 0v24l6.134-4.886V3.334zm-2.853 18.758l-4.939 2.157V2.086l4.939 1.462zm-11.572-.553l3.78-.999V5.188l-3.762-.606z"/>
            </svg>
            <div class="ml-3">
              <span style="color: red; font-family: 'Lucida Handwriting', cursive; display: block;">Puddle Marketplace</span>
              <span style="font-size: 13px; color: black;"><i>Ripples of Resale, Waves of Value</i></span>
            </div>
        </a>
        <br>
        <br>
        <br>
        <br>
        <div class="loading-container">
            <div class="loading-spinner">Welcome to Puddle Marketplace</div>
        </div>
        <br>
        <br>
    </div>
    
</body>
</html>
