{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{%block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-3xl">
    <h1 class="mb-6 text-3xl">Log in</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Username</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Password</label>
            {{ form.password }}
        </div>


        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}

            </div>
        {% endif %}

        <button class="py4 px-8 text-lg bg-teal-400 hover:bg-teal-700 rounded-xl text-white">Submit</button>
        <br>
        <br>
        <br>
        <br>
        <p style="color:blue"><i>FORGOT PASSWORD?</i>  <a href="#"><button class="py4 px-8 text-lg bg-teal-400 hover:bg-teal-700 rounded-xl text-white">#Password Recovery</button></a></p> 
        <br>
        <p style="color:blue"><i>DON'T HAVE AN ACCOUNT?</i>  <a href="{% url 'core:signup' %}"><button class="py4 px-8 text-lg bg-teal-400 hover:bg-teal-700 rounded-xl text-white">Sign up</button></a></p> 

    </form>

</div>
{% endblock %}

