{% extends 'core/base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}



<div class="mt-6 px-4 py-8 bg-gray-300 rounded-xl flex flex-col items-center">
    <a href="/" class="text-base md:text-xl lg:text-2xl font-semibold" style="background-image: url('media/icon/logo.png'); 
        background-size: contain; background-repeat: no-repeat; padding-left: 70px; border-radius:7px;">
            <span style="color: red; font-family: 'Lucida Handwriting', cursive;">Puddle Marketplace</span>
            <br>
            <span style="font-size: 13px; color: black;"><i>Find What You Need, Love What You Sell</i></span>
    </a> 
    <br>
    <br>
    <h2 class="mb-12 text-2xl text-center">You have been successfully logged out!</h2>
    <br>
    <div class="flex flex-col items-center">
        <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-400 text-black rounded-xl hover:text-yellow-500 hover:bg-gray-700 transition-all duration-1000">Log back in</a>
        <br>
        <p style="color:blue">
            <a href="{% url 'core:signup' %}">
                <button class="py-4 px-8 text-lg bg-teal-400 hover:bg-teal-700 rounded-xl text-white text-center transition-all duration-1000">Create New Account</button>
            </a>
        </p>
    </div>
</div>


    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

{% endblock %}
