{% extends 'core/base.html' %}

{% block title %} Logged Out {% endblock %}

{% block content %}



<div class="mt-6 px-4 py-8 bg-gray-300 rounded-xl flex flex-col items-center">
    <a href="/" class="text-base md:text-xl lg:text-2xl font-semibold flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24">
          <path fill="red" d="M16.146 0v24l6.134-4.886V3.334zm-2.853 18.758l-4.939 2.157V2.086l4.939 1.462zm-11.572-.553l3.78-.999V5.188l-3.762-.606z"/>
        </svg>
        <div class="ml-3">
          <span style="color: red; font-family: 'Lucida Handwriting', cursive; display: block;">Puddle Marketplace</span>
          <span style="font-size: 13px; color: black;"><i>Ripples of Resale, Waves of Value</i></span>
        </div>
    </a> 
    <br>
    <br>
    <h2 class="mb-12 text-2xl text-center">You have been successfully logged out!</h2>
    <br>
    <div class="flex flex-col items-center">
        <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-400 text-black rounded-xl hover:text-yellow-500 hover:bg-gray-700 transition-all duration-1000">Log back in</a>
        <br>
        <p style="color:blue">
            <a href="{% url 'core:signup' %}">
                <button class="py-4 px-8 text-lg bg-teal-400 hover:bg-teal-700 rounded-xl text-white text-center transition-all duration-1000">Create New Account</button>
            </a>
        </p>
    </div>
</div>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

{% endblock %}
