{% extends 'core/base.html' %}

{% block title %}User Profile{% endblock %}

{%block content %}

<div class="mt-6 px-4 py-6 bg-gray-300 rounded-lg mx-auto text-center" style="max-width: 900px;">
    {% if profile.user == request.user %}
        <h2 class="mb-12 text-2xl text-center" style="text-transform:uppercase;"><u><b>MY PROFILE PAGE</b></u></h2>
    {% else %}
        <h2 class="mb-12 text-2xl text-center" style="text-transform:uppercase;"><b><u>{{ profile.user.username }}'S PROFILE PAGE</u></b></h2>
    {% endif %}
    
    {% if profile %}
    <div class="grid md:grid-cols-3">
      <div class="col-span-1 md:col-span-1">
          <div class="col-span-1 md:col-span-1 flex justify-center items-center">
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Avatar" style="height: 190px; width: 190px; border-radius: 50%;" class="rounded-t-xl w-full img-enlargable">
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 48 48">
                    <g fill="maroon">
                        <path d="M32 20a8 8 0 1 1-16 0a8 8 0 0 1 16 0Z"/>
                        <path fill-rule="evenodd" d="M23.184 43.984C12.517 43.556 4 34.772 4 24C4 12.954 12.954 4 24 4s20 8.954 20 20s-8.954 20-20 20a21.253 21.253 0 0 1-.274 0c-.181 0-.362-.006-.542-.016ZM11.166 36.62a3.028 3.028 0 0 1 2.523-4.005c7.796-.863 12.874-.785 20.632.018a2.99 2.99 0 0 1 2.498 4.002A17.942 17.942 0 0 0 42 24c0-9.941-8.059-18-18-18S6 14.059 6 24c0 4.916 1.971 9.373 5.166 12.621Z" clip-rule="evenodd"/>
                    </g>
                </svg>
            {% endif %}
          </div>
      </div>
  
      <div class="col-span-1 md:col-span-2 p-6 bg-gray-100 rounded-xl">
        <div class="col-span-1 md:col-span-2 p-6 bg-gray-100 rounded-xl text-left text-lg">
          <p><strong>USERNAME:</strong> <span style="color: blue;">{{ profile.user.username }}</span></p>
          <p><strong>EMAIL ADDRESS:</strong> <span style="color: blue;">{{ profile.user.email }}</span></p>
          {% if profile.location %}
              <p><strong>LOCATION:</strong> <span style="color: blue;">{{ profile.location }}</span></p>
          {% else %}
              <p><strong>LOCATION:</strong><i> Not updated yet..</i></p>
          {% endif %}
      </div>
      
      </div>
  </div>
  

    <br>
    <table>
        <tr>
            <td>
               {% if profile.bio %}
                    <p><strong><u>BIO:</u></strong></p>
                    <p>{{ profile.bio }}</p>
              {% else %}
                    <p><strong><u>BIO:</u></strong></p>
                    <p><i>Not updated yet..</i></p>
              {% endif %} 
            </td>
        </tr>
        <br>
        <br>
    </table>

    {% if profile.user == request.user %}
      <a href="{% url 'core:editprofile' %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-gray-400 text-black rounded-xl hover:text-yellow-500 hover:bg-gray-700 transition-all duration-1000">
        Edit Profile
      </a>

      <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl" onclick="return confirm('Are you sure you want to delete your account {{ profile.user.username }}?') && alert('{{ profile.user.username }} your profile successfully deleted!');">
        Delete
      </a>

    {% endif %}


    {% else %}
        <p><b>No profile found for the user.</b></p>
    {% endif %}
</div>


{% if profile.user != request.user %}
    <div class="mt-6 px-6 py-12 bg-gray-300 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Below are {{ profile.user.username }}'s items</h2>
        {% if items %}
          <div class="grid grid-cols-2 md:grid-cols-5 gap-3">
            {% for item in items %}
              <div class="flex flex-col h-full">
                <a href="{% url 'items:detail' item.id %}">
                  <div class="flex-shrink-0">
                    {% if item.image.name %}
                      <div style="height: 150px;">
                        <img src="/media/{{ item.image.name }}" class="rounded-t-xl w-full h-full object-cover">
                      </div>
                    {% else %}
                      <div style="height: 150px; display: flex; align-items: center; justify-content: center;">
                        <i style="color: red;">NB: <b>{{ profile.user.username }}</b> either uploaded an invalid or no image at all for this item..</i>
                      </div>
                    {% endif %}
                  </div>
          
                  <div class="p-6 bg-white rounded-b-xl flex-grow">
                    <h2 class="text-blue-600 text-1xl truncate hover:underline hover:text-red-500">{{ item.name }}</h2>
                    <p class="text-gray-500 truncate">Price: ${{ item.price }}</p>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        {% else %}
        <h2 class="mb-12 text-1xl text-center text-red-600"><b>Ooops! it seems {{ profile.user.username }} has no items yet!</b></h2>
        {% endif %}
    </div>
{% endif %}
    
{% endblock %}



