{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{%block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-3xl">

    <a href="/" class="text-base md:text-xl lg:text-2xl font-semibold flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24">
          <path fill="red" d="M16.146 0v24l6.134-4.886V3.334zm-2.853 18.758l-4.939 2.157V2.086l4.939 1.462zm-11.572-.553l3.78-.999V5.188l-3.762-.606z"/>
        </svg>
        <div class="ml-3">
          <span style="color: red; font-family: 'Lucida Handwriting', cursive; display: block;">Puddle Marketplace</span>
          <span style="font-size: 13px; color: black;"><i>Find What You Need, Love What You Sell</i></span>
        </div>
    </a> 
    <br>
    <br>
    <h1 class="mb-6 text-3xl">Sign up</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Username</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Email</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Password</label>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Repeat Password</label>
            {{ form.password2 }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_filed_errors }}

            </div>
        {% endif %}

        <button class="py-4 px-8 text-lg bg-teal-400 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>

</div>
{% endblock %}

