
{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ item.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl"> 
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1> 
        <p clas="text-gray-500"><strong>Price: </strong>${{ item.price }}</p>   
        <p clas="text-gray-500"><strong>Seller: </strong> {{ item.created_by.username }}</p> <br>

        {% if item.description %}
            <p class="text-gray-700">
                <strong><u>Description:</u></strong> <br> 
                {{ item.description }}
            </p>
        {% endif %}

        <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-400 rouned-xl text-white hover:bg-teal-700">Contact Seller</a>
    </div>
</div>
{% endblock %}