{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-5 gap-6">
    <div class="col-span-1 md:col-span-3">
        {% if item.image %}
        <div class="image-container">
            <div class="image-wrapper">
              <img src="/media/{{ item.image.name }}" class="rounded-t-xl w-full img-enlargable">
              <div class="close-button" title="Enlarge Image">X</div>
            </div>
        </div>
        {% else %}
        <i style="color: red; padding-top: 10%; display: block; text-align: center;">NB: No image/invalid image was uploaded for this item..</i>
        {% endif %}
    </div>

    <div class="col-span-1 md:col-span-2 p-6 bg-gray-100 rounded-xl"> 
        <h1 class="mb-6 text-3xl break-words">{{ item.name }}</h1
        
            <p class="text-gray-500"> 
            <strong>Price: </strong>
            ${{ item.price }}
            </p>   
        <p class="text-gray-500">
            <strong>Seller: </strong> 
            <a href="{% url 'core:profile' pk=item.created_by.profile.pk %}" style="color: blue;">
                <u>{{ item.created_by.username }}</u>
            </a>
        </p>
        
        <br>

        {% if item.description %}
            <p class="text-gray-700">
                <strong><u>Description:</u></strong> <br>
                {{ item.description | safe }}
            </p>
        {% endif %}

        {% if request.user == item.created_by %}
        <div class="'mt-6 p-6 bg-white rounded-xl">
            <p style="font-weight: bold; color: red;"><I>THIS IS YOUR ITEM!</I></p>

            <a href="{% url 'items:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-green-500 text-white rounded-xl">Edit</a>
            <a href="{% url 'items:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl" onclick="return confirm('Are you sure you want to delete this item ({{ item.name }})?') && alert('{{ item.name }} is successfully deleted!');">Delete</a>
        </div>
        {% else %}
        <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-400 rouned-xl text-white hover:bg-teal-700">Contact Seller</a>
        {% endif %}
    </div>
</div>

{% if related_items %}
    <div class="mt-6 px-6 py-12 bg-gray-300 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Related Items</h2>

        <div class="grid grid-cols-3 md:grid-cols-7 gap-3">
            {% for item in related_items %}
                <div class="md:col-span-1">
                    <a href="{% url 'items:detail' item.id %}">
                        <div class="h-40">
                            {% if item.image %}
                                <img src="/media/{{ item.image.name }}" class="rounded-t-xl h-full object-cover">
                            {% else %}
                                <i style="color: red;">No image was uploaded for this item..</i>
                            {% endif %}
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-xs md:text-sm truncate lg:text-1xl no-underline hover:underline hover:text-red-500">{{ item.name }}</h2>
                            <p class="text-xs md:text-sm text-gray-500 truncate">Price: ${{ item.price }}</p>
                        </div>
                        
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}
