{% extends 'core/base.html' %}

{% block title %} Search Items {% endblock %}

{% block content %}
    <div class="pb-6 bg-gray-400 rounded-xl">
        <form method="get" action="{% url 'items:items' %}" class="px-6 py-6 flex gap-4">
            <input name="query" class="flex-1 py-4 px-6 rounded-xl" type="text" value="{{ query }}" placeholder="Find any item, bike, chair, cart...etc">
            <button class="py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
        </form>

        <hr class="my-6">

        <div class="grid grid-cols-4 gap-4">
            <div class="col-span-1">
                <p class="font-semibold">Categories</p>
                <ul>
                    {% for cartegory in categories %}
                        <li class="py-2 px-2 truncate text-gray-700{% if cartegory.id == cartegory_id %} bg-gray-200 {% endif %}">
                            <a href="{% url 'items:items' %}?query={{ query }}&cartegory={{ cartegory.id }}">{{ cartegory.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <hr class="my-6">

                <p class="font-semibold">Clear Filters</p>
                <ul>
                    <li><a href="{% url 'items:items' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white hover:bg-gray-700"> Clear </a></li>
                </ul>
            </div>

            <div class="col-span-3">
                {% if items %}
                <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
                    {% for item in items %}
                      <div class="flex flex-col h-full">
                        <a href="{% url 'items:detail' item.id %}">
                          <div class="flex-shrink-0">
                            {% if item.image.name %}
                              <div style="height: 150px;">
                                <img src="/media/{{ item.image.name }}" class="rounded-t-xl w-full h-full object-cover">
                              </div>
                            {% else %}
                              <div style="height: 150px; display: flex; align-items: center; justify-content: center;">
                                <i style="color: red;">NB: No image/invalid image was uploaded for this item..</i>
                              </div>
                            {% endif %}
                          </div>
                  
                          <div class="p-6 bg-white rounded-b-xl flex-grow">
                            <h2 class="text-blue-600 text-1xl truncate no-underline hover:underline hover:text-red-500">{{ item.name }}</h2>
                            <p class="text-gray-500 truncate">Price: ${{ item.price }}</p>
                          </div>
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                  
                {% else %}
                <div class="flex justify-center">
                    <div class="w-2/3 md:w-1/2 bg-gray-200 rounded-lg p-6">
                        {% if query %}
                            <p class="text-gray-600 text-lg">
                                Sorry, your search for "<i>{{ query }}</i>" has no matches! Try clearing filters and search again.
                            </p>
                        {% else %}
                            <p class="text-gray-600 text-lg">
                                Ooops, it seems there are no items yet for this category! Try clearing filters and search for other items...
                            </p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>          
    </div>
{% endblock %}
